<% provide(:title, 'Search') %>

<div class="row">
	<aside class="span3">
		<section>
			<%= render 'shared/search_form' %>
		</section>
	</aside>
	<div class="span8 offset1">
		<% if params[:place] == '' %>
		<br>
		<br>
			<%= t('search_not_valid') %>
		<% else %>
					<% if @interests.any? %>
						<p class="lead" style="">Leute in deiner Nähe mit gleichen Interessen (<%= t('home.micropost.'+params[:hobby]) %>)</p>
						<table class="span4 table table-condensed table-hover">
							<thead>
								<tr>
									<th></th>
									<th>Name</th>
									<th>weitere Interessen</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
						<% @interests.each do |interest|%>
						<% current_user == interest.user && @interests.length >=3 ? break : %>
							<tr>
								<td><%= gravatar_for(interest.user, size: "20") %></td>
								<td><%= link_to interest.user.name.split[0], interest.user %></td>
								<td><%= t('home.micropost.'+interest.user.interests[0].hobby) %></td>
								<td><%= interest.user.interests[1] ? t('home.micropost.'+interest.user.interests[1].hobby) : "" %></td>
								<td><%= interest.user.interests[2] ? t('home.micropost.'+interest.user.interests[2].hobby) : "" %></td>
							</tr>
						<% end %>
					</tbody>
						</table>
					<% end %>
				<% if @microposts.empty? %>
					<br><br><br>
					<p class="lead"><%= t('knock') %><%= link_to "Change it!", root_path(:not_logged_in => true) %></p>
				<% else %>
					<h3><%= t('search_result') %></h3>
					<ol class="microposts">
						<% for @micropost in @microposts %>
							<li id="<%= @micropost.id %>">
								<% if signed_in? %>
									<div class="follow_form_<%= @micropost.id %>" id="remember">
										<% unless current_user.remembering?(@micropost) %>
											<div class="followhellobar"><%= render 'mindposts/follow' %></div>
										<% else %>
											<div class="unfollow"><%= render 'mindposts/unfollow' %></div>
										<% end %>
									</div>
								<% end %>
	<div class="paper_up"></div>
	<div class="paper_middle">
	<div>
	<%= link_to gravatar_for(@micropost.user), @micropost.user %>
	<span class="user">
		<%= link_to @micropost.user.name.split[0], @micropost.user %>
	</span> | 
	<b><span class="hobbyplace"><%= t('home.micropost.'+@micropost.hobby) %> <%= infrom(@micropost.hobby) %> <%= t('home.micropost.'+@micropost.place) %></b> 
		<% if @micropost.weekday != "11" %>
			<em><%= t('home.micropost.time_on') %> <%= I18n.localize(@micropost.datetime) %></em>
		<% else %>
			<div style="color: red;"><%= t('home.micropost.time_till_delete_from_searchindex') + " (in " + time_ago_in_words(@micropost.datetime) + ")"  if ((@micropost.datetime - Time.now) < (60*60*24*7*3)) %></div>
		<% end %></span>

	<span class="content"><%= truncate(@micropost.content, length: 810) %></span>
	</div>
  <% if @micropost.comments.any? %>
    <div><hr>
      <%= render @micropost.comments %>
    </div>
  <% end %>
	<div class="commentform"><hr>
		<%= form_for([@micropost, @micropost.comments.build]) do |f| %>
		  <div class="field">
		  	<%= gravatar_for(current_user, size: "25") %>
		    <%= f.text_area :body, placeholder: "Schreibe einen Kommentar..." %>
			<%= f.hidden_field :return_to, value: request.fullpath, name: :return_to %>
		    <%= f.submit t('home.micropost.submit'), class: "btn btn-small btn-primary" %>
		  </div>
		<% end %>
	</div>
</div>
<div class="paper_down">
<div class="timestamp">
	<%= t('@micropost.posted') %> <%= time_ago_in_words(@micropost.created_at) %> <%= t('@micropost.ago') %>.
	<%= link_to t('link.details'), @micropost, method: :show %> | &nbsp;
	<% if current_user?(@micropost.user) %>
		  <%= link_to "trash", @micropost, method: :delete, data: { confirm: "You sure?" }, title: t('link.delete'), class: "lsf" %>&nbsp;&nbsp;&nbsp; 
	<% end %> 
	<%= link_to "comment", "#", title: "comment", class: "lsf", id: "commentbutton" %> <%= @micropost.comments.count %>
	 &nbsp;&nbsp;&nbsp;
	 <%= link_to_function "facebook", "postToFeed('#{@micropost.id}', '#{t('home.micropost.'+@micropost.hobby)}', '#{@micropost.place}', '#{I18n.localize(@micropost.datetime)}', '#{@micropost.weekday}'); return false;", class: "lsf", title: "share on Facebook" %>
</div>
</div>
</li>
							
						<% end %>
					</ol>
				<% end %> <!-- micropost.empty? -->
		
		<% end %> <!-- params != "" -->
	</div>
</div>


<script type="text/javascript">
// 	$(document).ready(function(){
// 		$(":input[value|='Merken']").on('click', function(e) {
//     var a = $(this).parents('div#follow_form2');
//     a.html("<div test=testttt'>TEST</div>");
//     return false;
//     // e.preventDefault();
//   });

// 		$(":input[value|='UnMerken']").on('click', function(e) {
//     var b = $(this).parents('div#follow_form2');
//     b.html("<div test=testttt'>TEST7</div>");
//     // e.preventDefault();
//     return false;
//   });
// 	});
// </script>