<%provide(:title, @user.name) %>
<% if signed_in? %>
<% if current_user.admin? && !current_user?(@user) %>
	| <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" } %>
<% end %>
<div class="row">
	<aside class="span4">
		<section>			
			<h1>
				<%= gravatar_for @user, size: 110 %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
		<% unless current_user?(@user) #Facebook Gruppentest%>
				<% if @user.group == true && current_user.group == true %>
					<%= link_to_function "Schreibe #{ @user.name.split[0] } über Facebook", "postToUser2( '#{@user.uid}', '#{current_user.name.split[0]}'); return false;", class: 'btn btn-warning', :target => '_blank' %><br><br>
			
					<% elsif current_user.group == true && @user.group != true %>
						<div class="sorry">Leider ist <%= @user.name.split[0] %> nicht in der Connectify-Facebookgruppe und kann daher nicht über Facebook erreicht werden :(</div><br>
					<% else %>
						<div class="sorry">Du bist nicht in der Connectify-Facebookgruppe und kannst daher <%= @user.name.split[0] %> nicht über Facebook schreiben. Klicke, um zu das zu <%= link_to "ändern", "http://facebook.com/groups/connectify", class: 'btn btn-mini', :target => '_blank' %></div><br>
				<% end %>
				<%= link_to "#{ @user.name.split[0] }'s Profil auf Facebook", "https://facebook.com/#{@user.uid}", class: 'btn btn-primary', :target => '_blank' %><br><br>
				<%= link_to "Schreibe #{ @user.name.split[0] } eine eMail", "mailto:"+@user.email, class: 'btn btn-success', :target => '' %>
			
		<% else %>
			<% if @group_attribute == true %>
				<a href="http://facebook.com/groups/connectify" class="btn btn-danger" target="_blank" id="togg" data-placement="bottom" data-toggle="tooltip" title="Wenn du keine Nachrichten mehr über Facebook erhalten möchtest, klick auf den Button und trete einfach aus der Connectify-Facebookgruppe aus. Du kannst jederzeit wieder eintreten."> Facebook Nachrichten nicht mehr erlauben (Gruppe verlassen)</a>
			<% else %>
				<a href="http://facebook.com/groups/connectify" class="btn btn-success" target="_blank" id="togg" data-placement="bottom" data-toggle="tooltip" title="Du kannst der Connectify-Gruppe beitreten, damit du anderen und andere Connectify Mitglieder dir Nachrichten direkt über Facebook schreiben können. Dazu klickst du einfach auf diesen Button. Daraufhin öffnet sich ein Facebook-Fenster, wo du nur noch auf 'Gruppe beitreten' klicken musst. Leider gibt es noch keine Möglichkeit, diesen Schritt zu automatisieren. Sobald du vom Administrator freigeschaltet wurdest, kann es losgehen. Du kannst diesen Vorgang jederzeit rückgängig machen, indem du die Gruppe verlässt. ">Facebook Nachrichten erlauben (Gruppe beitreten)</a>
			<% end %>	
		<% end %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<!-- <%= render 'invite_form' if signed_in? %> -->
	</div>
	<div class="span8">
		<% unless current_user?(@user) %>
			<% if @user.microposts.any? %>
				<h3><%=@user.name.split[0] %>'s Activities (<%= @user.microposts.count %>)</h3>
				<ol class="microposts">
					<%= render @microposts %>
				</ol>
				<%= will_paginate @microposts %>
				<% else %>
				<h3><%=@user.name.split[0] %> ist neu auf Connectify und hat bisher noch keine Activities erstellt.</h3>
				<p class="lead">Folge <%=@user.name.split[0] %>, um seine/ihre zukünftigen Activities auf deiner Pinnwand einzublenden.</p>
			<% end %>
		<% else %>
			<% if @user.microposts.any? %>
				<h3 style="padding-left: 20px;">Meine Activities</h3>
				<table class="span4 table table-condensed table-hover">
					<% i= @microposts.count %>
					<% @microposts.each do |micropost|%>

					<tr>
						<td><%= i %></td>
						<td>
							<a href="<%= micropost_path(micropost.id) %>">
								<%= t('home.micropost.'+micropost.hobby) %> <%= infrom(micropost.hobby) %> <%= t('home.micropost.'+micropost.place) %>
								<% if micropost.weekday != "11" %>
									<em><%= t('home.micropost.time_on') %> <%= I18n.localize(micropost.datetime) %></em>
								<% else %>
									<div style="color: red;"><%= t('home.micropost.time_till_delete_from_searchindex') + " (in " + time_ago_in_words(micropost.datetime) + ")"  if ((micropost.datetime - Time.now) < (60*60*24*7*3)) %></div>
								<% end %>
							</a>
						</td>
						<td>
							<span class="lsf" style="color: #C9C9C9; font-size: 25px;">comment</span>
							<%= micropost.comments.count %>
							<% @unread = micropost.comments.where("read = ?", false).count %>
							<b><%= "("+@unread.to_s+")" if (@unread > 0) %></b>
						</td>
						<td><%= link_to "trash", micropost, method: :delete, data: { confirm: "You sure?" }, title: t('link.delete'), class: "lsf", style: "" %></td>
						</tr>
						<% i = i-1 %>
					<% end %>
				</table>
			<% end %><!-- any? -->
				<div class="span5">
					<h3>Meine Heimatstadt</h3>
					<div class="span2"><p class="lead"><%= t('home.micropost.'+@user.homebase) %></div>
					<div class="span2"></p><a href="#" id="editHomebase">edit</a></div>
					<div class="span5" id="editHomebaseDiv">
                        <span id="prependedInputErr" style="color: red; font-size: 1em !important; padding-left: 70px;"></span><br>
						<%= form_for(current_user, method: "PUT") do |f| %>
						<input class="input-large centerinput" id="prependedInput" name="user[homebase]" type="text" data-provide="typeahead" autocomplete="off" >
						
						<%= f.submit t('savecity'), class: "btn btn-small btn-primary", :onclick => "return validateHomebase()" %>
						<% end %>
					</div>
				</div>
			<div class="span8"><%= @interest %>
				<h3>Meine Interessen</h3>
				<%= form_for(current_user.interests.build) do |f| %>
			      <% sports.sort.each do |hobby| %>
			      <div class="span2 left">
			      		<% if @interests.include?(hobby) %>       
			            <label><%= check_box_tag "interests["+hobby+"]", hobby, true %> <%= t('home.micropost.'+hobby) %></label>
			            <% else %>
			            <label><%= check_box_tag "interests["+hobby+"]", hobby, false %> <%= t('home.micropost.'+hobby) %></label>
			            <% end %>
			      </div>	      
			     <% end %>
			    <div class="span8">
    				<%= f.submit t('saveinterest'), class: "btn btn-primary btn-small interestbutton" %>
    			</div>
  <% end %>
			</div>
		<% end %>

	</div>
</div>
<script>$('#togg').tooltip('toggle')</script>

<% else %>
<div class="center hero-unit">
<h1>Connectify</h1>
<p>
	... a great place to <b>find people</b> doing the things you love most, too!
  
</p>It's just one click away... <br/><br />
<%= link_to "Connect me!", "/auth/facebook", id: "sign_in", class: "btn btn-large btn-primary" %>
</div>
<% end %>

<script type="text/javascript">
var selectedState;

$('#prependedInput').typeahead({
    source: function (query, process) {
        states = [];
    map = {};
 
    var data = [
        {"stateCode": "Karlsruhe", "stateName": "<%= escape_javascript(t('home.micropost.Karlsruhe')) %>"},
        {"stateCode": "Munich", "stateName": "<%= escape_javascript(t('home.micropost.Munich')) %>"},
        {"stateCode": "Konstanz", "stateName": "<%= escape_javascript(t('home.micropost.Konstanz')) %>"},
        {"stateCode": "Stuttgart", "stateName": "<%= escape_javascript(t('home.micropost.Stuttgart')) %>"},
        {"stateCode": "Singen", "stateName": "<%= escape_javascript(t('home.micropost.Singen')) %>"}
    ];
 
    $.each(data, function (i, state) {
        map[state.stateName] = state;
        states.push(state.stateName);
    });
 
    process(states);
    },
    updater: function (item) {
        selectedState = map[item].stateCode;
        document.getElementsByName('user[homebase]').value = selectedState;
        return item;
    },
    matcher: function (item) {
        if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
        return true;
    }
    },
    sorter: function (items) {
        return items.sort();
    },
    highlighter: function (item) {
       var regex = new RegExp( '(' + this.query + ')', 'gi' );
       return item.replace( regex, "<strong>$1</strong>" );
    },
});

if(typeof(String.prototype.trim) === "undefined")
{
    String.prototype.trim = function() 
    {
        return String(this).replace(/^\s+|\s+$/g, '');
    };
}

function validateHomebase(){
  var citylist = new Array("Karlsruhe",
              "Konstanz",
              "Munich",
              "Stuttgart",
              "Singen"

          );
  var item = document.getElementById('prependedInput').value.trim();
  
  if (item == '' || item == null){
    document.getElementById('prependedInputErr').value = "Error: Bitte erneut eingeben!";
    document.getElementById('prependedInput').focus();
    return false;
  }
  for (var i = 0; i < citylist.length; i++) {
    if(item == citylist[i]) {
      document.getElementById('prependedInput').value = item
      return true;
      break;
      
    }
    
  }
    document.getElementById('prependedInputErr').innerHTML = "Error: Du kannst nur die Städte auswählen, die dir angezeigt werden (BETA)!";
    document.getElementById('prependedInput').focus();
    return false;
};


$(document).ready( function () {
	$("#editHomebase").click( function (event) {
		event.preventDefault();
		$("#editHomebaseDiv").fadeToggle();
	});
});

</script>