<% provide(:title, @title) %>
<div class="row">
	<aside>
		<section>
			<span><%= link_to @user.name, @user, :'data-role' => 'button', :'data-corners' => 'false', :'data-shadow' => 'false' %></span>
			<span><b>Microposts:</b> <%= @user.microposts.count %></span>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div>
		<h3><%= @title %></h3>
		<% if @users.any? %>
			<ul class="users" data-role="listview">
				<%= render @users %>
			</ul>
			<%= will_paginate %>
		<% end %>
	</div>
</div>