<li id="<%= feed_item.id %>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name.split[0], feed_item.user %>
	</span> | 
	<b><span class="hobbyplace"><%= t('home.micropost.'+feed_item.hobby) %> <%= infrom(feed_item.hobby) %> <%= t('home.micropost.'+feed_item.place) %></b> 
		<% if feed_item.weekday != "11" %>
			<em><%= t('home.micropost.time_on') %> <%= I18n.localize(feed_item.datetime) %></em>
		<% else %>
			<div style="color: red;"><%= t('home.micropost.time_till_delete_from_searchindex') + " (in " + time_ago_in_words(feed_item.datetime) + ")"  if ((feed_item.datetime - Time.now) < (60*60*24*7*3)) %></div>
		<% end %>
	<span class="content"><%= truncate(feed_item.content, length: 250) %></span>
	</li><span class="timestamp">
		<%= t('feed_item.posted') %> <%= time_ago_in_words(feed_item.created_at) %> <%= t('feed_item.ago') %>.
	
	<%= link_to t('link.details'), feed_item, method: :show %> | &nbsp;
	<% if current_user?(feed_item.user) %>
		  <%= link_to "trash", feed_item, method: :delete, data: { confirm: "You sure?" }, title: t('link.delete'), class: "lsf", style: "color: #9B9B9B; font-size: 25px;" %>&nbsp;&nbsp;&nbsp;
		  <span class="lsf" style="color: #C9C9C9; font-size: 25px;">comment</span> <%= feed_item.comments.count %>
		 <% @unread = feed_item.comments.where("read = ?", false).count %>
		<b><%= "("+@unread+")" if (@unread > 0) %></b>
	<% else %>
		 <span class="lsf" style="color: #C9C9C9; font-size: 25px;">comment</span> <%= feed_item.comments.count %>
	<% end %> 
	
	 &nbsp;&nbsp;&nbsp;<%= link_to_function "facebook", "postToFeed('#{feed_item.id}', '#{t('home.micropost.'+feed_item.hobby)}', '#{feed_item.place}', '#{I18n.localize(feed_item.datetime)}', '#{feed_item.weekday}'); return false;", class: "lsf", style: "color: #9B9B9B; font-size: 25px;", title: "share on Facebook" %></span>
