<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.hidden_field :latlng, :value => "" %>
	<%= f.hidden_field :country, :value => "" %>
	<br /><p><b><span class="lsf-icon" title="write" style="font-size: 23px; float: left;"></span><%= t('home.micropost.create') %></b></p><br>
    <span style="clear:both;"></span>
	<!-- <div class="field">
		<div class="ui-widget">
		<%= f.label t('home.micropost.what') %>
		<%= f.select :hobby, options_for_select(sportlist.sort.unshift([t('home.micropost.select_one'), ""])), :class => '' %></div>
	</div> -->
   <!--  <%= f.select :hobby, options_for_select('a','a') %> -->
	<div class="field">
		<div class="ui-widget">
	   <%= f.label t('home.micropost.what') %>
	    <select id="combobox" name="micropost[hobby]" class="micropost_hobby" data-corners="false">
	        <option value="">Select one...</option>
	        <% sportlist.each do |a| %>
	        	<option value="<%= a[1] %>"><%= a[0] %></option>
	        <% end %>
	    </select>
		</div>
		<div style="clear: both"></div>
	</div>
	<div class="field">
		<%= f.label t('home.micropost.where') %>
		<%= f.select :place, options_for_select(citylist.sort.unshift([t('home.micropost.select_one'), ""],["-------------------------------------------", ""])), :'data-corners' => 'false' %>


	</div>
		<div id="address"></div>
	<%= t('home.micropost.whereexact') %>
	<div class="canvas" id="canvas2">

		<div id="map_canvas" style="width:85%; height:250px"></div>
	</div>
	<br />
	<div class="field">
		<%= f.label t('home.micropost.when') %>
		<%= f.text_field :datetime, :type => 'datetime', placeholder: t('home.micropost.datetime') %>
	</div>
	<div style="clear: both"></div>
	<div class="field">
		<%= f.label t('home.micropost.about') %>
<!-- 		<%= f.select :level, options_for_select([[t('home.micropost.select_level'), ""], "Newbie", "Advanced", "Pro"]), :class => '' %>
 -->		<%= f.text_area :content, placeholder: t('home.micropost.textbox_text'), :'data-corners' => 'false' %>
	</div>
	<%= f.submit t('home.micropost.submit'), :'data-corners' => 'false' %>
<% end %>

  
 

 