<%= form_tag({ :action => "search"}, :method => "get") do %>
<!-- <%= label_tag(:hobby, t('search_for')) %>
 <%= select_tag(:hobby, options_for_select(sportlist.sort.unshift([t('home.micropost.select_one_optional'), ""]))) %> -->
<%= select_tag(:place, options_for_select(citylist2.sort.unshift([t('home.micropost.select_city'), ""],["-------------------------------------------", ""]))) %>
<%= submit_tag t('home.micropost.gogetit'), :name => nil, class: "btn btn-large btn-primary"%>
<% end %>
<div id="iframe1"></div>