<% @user ||= current_user %>
<div class="stats capitals">
	<a href="<%= following_user_path(@user) %>">
		<strong id="following" class="stat">
			<%= @user.followed_users.count %>
		</strong>
		<% if current_user?(@user) %>
			<%= t("following") %>
		<% else %>
			<%= t("following2")+@user.name.split[0] %>
		<% end %>
	</a>
	<a href="<%= followers_user_path(@user) %>">
		<strong id="followers" class="stat">
			<%= @user.followers.count %>
		</strong>
		<%= t("followers") %>
	</a>
</div>