<ol class="micropost">

    <p class="hobby"><%= t('home.micropost.'+@micropost.hobby) %></p>
  <p class="place"><%= infrom(@micropost.hobby) %> <%= t('home.micropost.'+@micropost.place) %></p>
  <% if @micropost.weekday != "11" %>
    <p class="time"><%= t('home.micropost.time_on') %> <%= I18n.localize(@micropost.datetime) %></p><br>
  <% end %>
  <li>
    <% if current_user == @micropost.user %>
      <span class="writeFacebook"><%= link_to_function "poste an deine Facebook Pinnwand", "postToFeed('#{@micropost.id}', '#{t('home.micropost.'+@micropost.hobby)}', '#{@micropost.place}', '#{I18n.localize(@micropost.datetime)}', #{@micropost.weekday}); return false;", :class => "btn btn-primary btn-large" %> </span>
      
    <% else %>
        <% if @micropost.user.group == true && current_user.group == true %>
        <%= link_to_function "facebook", "postToUser('#{@micropost.id}', '#{t('home.micropost.'+@micropost.hobby)}', '#{@micropost.place}', '#{I18n.localize(@micropost.datetime)}', '#{@micropost.weekday}', '#{@micropost.user.uid}'); return false;", class: "lsf", style: "color: #9B9B9B; font-size: 25px;", title: "share on Facebook" %>
          <%= link_to "Schreibe #{ @micropost.user.name.split[0] } 체ber Facebook", "https://facebook.com/messages/#{@micropost.user.uid}", class: 'btn btn-warning btn-large', :target => '_blank' %><br><br>
        <% else %>
          <% if current_user.group == true %> <!-- false geht nicht da zelle in db standardm. l e e r ist.-->
            <div class="sorry sorry_micropost">Leider ist <%= @micropost.user.name.split[0] %> nicht in der Connectify-Facebookgruppe und kann daher nicht 체ber Facebook erreicht werden :(</div><br>
          <% else %>
            <div class="sorry sorry_micropost2">Du bist nicht in der Connectify-Facebookgruppe und kannst daher <%= @micropost.user.name.split[0] %> nicht 체ber Facebook schreiben. Klicke, um zu das zu <%= link_to "채ndern", "http://facebook.com/groups/connectify", class: 'btn btn-mini', :target => '_blank' %></div><br>
          <% end %>
        <% end %>
        <%= link_to "#{ @micropost.user.name.split[0] }'s Profil auf Facebook", "https://facebook.com/#{@micropost.user.uid}", class: 'btn btn-primary btn-large', :target => '_blank' %>
        <%= link_to "Schreibe #{ @micropost.user.name.split[0] } eine eMail", "mailto:"+@micropost.user.email, class: 'btn btn-success btn-large', :target => '' %>
    <% end %>
      <li>
	<li id="<%= @micropost.id %>">
					<%= link_to gravatar_for(@micropost.user, size: 120), @micropost.user %>
					<span class="user">
						<%= link_to @micropost.user.name, @micropost.user %>
					<span class="content"><%= @micropost.content %></span>
					
					<span class="timestamp_details">
    <%= t('feed_item.posted') %> <%= time_ago_in_words(@micropost.created_at) %> <%= t('feed_item.ago') %>.
  </span>
					
<div style="clear: both"></div>
						
  <li>
    <div id="map_canvas" style="width:80%; height:350px"></div>
  </li>
  <% if @micropost.comments.count > 0 %>
    <li>
      <h2><%= t('justcomments') %></h2>
      <%= render @micropost.comments %>
    </li>
  <% end %>
  <li>
    <%= render "comments/form" %>
  </li>
</ol>
<script type="text/javascript">

window.onload = initialize();
  
  $(document).ready(function() {
    $('#popup').hide();
  });

  function popup(){
    $('#popup').fadeIn();
  }

  function hide(){
    $('#popup').fadeOut();
  }

  function initialize() {
	
  


 
    var latlng = "<%=@micropost.latlng %>";
      var stringLL = latlng.split(",",2);
      var lat = parseFloat(stringLL[0].substring(1));
      var lng = parseFloat(stringLL[1]);
       
    var pos = new google.maps.LatLng(lat, lng);
           var myOptions = {
               zoom: 15,
               center: pos,
               disableDefaultUI: true,
               mapTypeId: google.maps.MapTypeId.ROADMAP,
               zoomControl: true,
                zoomControlOptions: {
                  style: google.maps.ZoomControlStyle.SMALL
                }
           };
           var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
           
           var marker = new google.maps.Marker({
               position: pos, 
               map: map, 
               title: "This is the place"
           }); 

   }

        




</script>