  <ol class="microposts">
  	<p class="hobby"><%= t('home.micropost.'+@micropost.hobby) %></p>
    <p class="place">in <%= t('home.micropost.'+@micropost.place) %></p>
    <p class="time"><%= t('home.micropost.time_on') %> <%= I18n.localize(@micropost.datetime) %></p>
    <li><% if !current_user?(@micropost.user) %>
        <a href="https://facebook.com/messages/<%= @micropost.user.uid %>" target="_blank" data-role="button" data-corners="false" data-shadow="false"><symbol class="lsf-icon" title="facebook" style="font-size: 120%; color: #000; text-shadow: 0px 0px 0px; font-weight: normal;"> </symbol><%= t('write_on_fb')+@micropost.user.name%></a> 
        <% end %>
     </li>
  	<li id="<%= @micropost.id %>">
      

 
  					<div class="gravatar">
              <%= link_to gravatar_for(@micropost.user), @micropost.user %>
            </div>
  					<div class="userprofile">

              <%= link_to @micropost.user.name, @micropost.user, :'data-role' => 'button', :'data-inline' => 'true', :'data-corners' => 'false', :'data-shadow' => 'false' %>
  					</div>
            <div class="clearfix"></div><br>
  					<span class="content"><big>"</big> <%= @micropost.content %> <big>"</big></span>
  					<br>
  					<span class="timestamp">
      <%= t('feed_item.posted') %> <%= time_ago_in_words(@micropost.created_at) %> <%= t('feed_item.ago') %>.
    </span><br><br>
  					
  						
    <li>
      <div id="map_canvas" style="width:85%; height:250px; float: left;"></div>
    </li><br><br><br>
    <li>
      <h2 class="comment"><%= t('justcomments') %></h2>
      <%= render @micropost.comments %>
    </li>
    <li>
      <%= render "comments/form" %>
    </li>
  </ol>
  <script type="text/javascript">

  $(document).bind('pagechange', function () {
  
        


      var latlng = "<%=@micropost.latlng %>";
        var stringLL = latlng.split(",",2);
        var lat = parseFloat(stringLL[0].substring(1));
        var lng = parseFloat(stringLL[1]);
         
      var pos = new google.maps.LatLng(lat, lng);
             var myOptions = {
                 zoom: 15,
                 center: pos,
                 disableDefaultUI: true,
                 mapTypeId: google.maps.MapTypeId.ROADMAP,
                 zoomControl: true,
                  zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL
                  }
             };
              map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
             
             var marker = new google.maps.Marker({
                 position: pos, 
                 map: map, 
                 title: "This is the place"
             }); 

    

      });     



  </script>